.fabric/
resourcepacks/
XaeroWorldMap/
saves/
XaeroWaypoints/
XaeroWaypoints_BACKUP032021/
Code/
versions/
scripts/
schematics/
screenshots/
replay_recordings/
logs/
libraries/
local/
itemscroller/
defaultconfigs/
usernamecache.json
usercache.json
rhino.local.properties
PCL.ini
options.txt
launcher_profiles.json
irisUpdateInfo.json
1.20.1.json
1.20.1.jar
.vscode.zip
shaderpacks/
PCL/
assets/
1.20.1-natives/
data/
